@{
    ViewBag.Title = "Dashboard";
}
@model COVID.Dashboard.Models.CovidDataViewModel

<script>

    $(document).ready(() => {

        $("#report-button").on("click", () => {
            $.ajax({
                url: "/home/GetDashboardByProvincePartialView",
                method: "GET",
                data: { iso: $("#select-list").val() },
                beforeSend: () => {
                    const tableArea = $("#table-area");
                    tableArea.empty();
                    tableArea.append('<div class="alert alert-primary" role="alert">Loading...</div>');                },
                success: (respose) => {
                    const tableArea = $("#table-area");
                    tableArea.empty();
                    tableArea.append(respose);
                },
                error: (request, status, error) => {
                    debugger;
                }
            });
        });
    });
</script>

<div class="row">
    <h2>Top 10 COVID Cases</h2>
</div>
<div class="row">
    <div class="col">
        <div class="form-group row">
            <label>Region: </label>
            <div class="col-8">
                @Html.DropDownListFor(m => m.IsoCode,
                    Model.OptionsList,
                    "By Country",
                    new { @class = "form-control", id = "select-list" })
            </div>
            <div class="col-2">
                <button class="btn btn-primary" id="report-button">report</button>
            </div>
        </div>
    </div>
</div>
<div id="table-area">
    @{ Html.RenderPartial("TableDashboard", Model); }
</div>