@model COVID.Dashboard.Models.CovidDataViewModel

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Region</th>
        <th>Cases</th>
        <th>Deaths</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Top10RegionsData)
    {
        <tr>
            <td>@item.Key</td>
            <td>@item.Value.Cases</td>
            <td>@item.Value.Deaths</td>
        </tr>
    }
    </tbody>
</table>